/////////COLORS////////////

$color-primary-1: #323232;
$color-primary-2: #a4a4a4;
$color-primary-3: #ffffff;

$color-secondary-1: #000000;
$color-secondary-2: #e1e1e1;
$color-secondary-3: #fafafa;

/////////////////FONTS//////////////////

@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
