@use "./partials/mixin" as *;
@use "./partials/variables" as *;

@include reset;
a {
  text-decoration: none;
}
p {
  font-family: $font-regular;
}
h1 {
  margin: 1.5rem 0 1rem 0;
  @include pageHeaderMobile;

  @include tablet {
    @include pageHeaderTabDesk;
    margin: 3rem 0 2.25rem 0;
  }
}

h2 {
  margin: 1.5rem 0 1rem 0;
  @include sectionHeaderMobile;

  @include tablet {
    @include sectionHeaderTabDesk;
  }
}
h3 {
  @include subHeaderMobile;

  @include tablet {
    @include subHeaderTabDesk;
    margin: 3rem 0 2.25rem 0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-primary-1;

  @include tablet {
    flex-direction: row;
    padding: 0 1rem;
  }

  @include desktop {
    padding: 0 5.25rem;
  }

  &__logo {
    height: 1.25rem;
    width: 7.5rem;
    padding-top: 1rem;
    flex: 1;
    @include tablet {
      padding: 0 1.5rem;
      width: 100%;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @include tablet {
      justify-content: flex-start;
    }
    &--item {
      list-style: none;
      height: 100%;
      padding: 1rem 0;
      text-align: center;
      @include subHeaderMobile;
      text-decoration: none;
      color: $color-primary-3;
      width: 100%;

      @include tablet {
        width: fit-content;
        margin: 0 1.5rem;
        @include bodyCopyTabDesk;
      }
    }
  }
}
.active {
  @include actvie;
}
.inactive {
  @include inactive;
  line-height: 166%;
  border-bottom: 4px solid none;
  transition: border 0.2s ease-out;
  &:hover {
    border-bottom: 4px solid white;
  }
}
.hero {
  display: flex;
  background-image: url(../assets/images/hero-bio.jpg);
  height: 56vw;
  width: 100%;
  background-size: cover;
  background-position: center;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  position: relative;

  @include tablet {
    padding: 0 2.25rem;
    margin-bottom: 2.25rem;
  }

  @include desktop {
    padding: 0 6.25rem;
  }

  &__title {
    color: $color-primary-3;
    position: absolute;
    z-index: 1;
    @include tablet {
      @include pageHeaderTabDesk;
      margin: 3rem 0 2.25rem 0;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color-primary-1, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: $color-primary-1;

  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0 6.25rem;
  }
}
.about-title {
  @include sectionHeaderMobile;

  @include desktop {
    @include sectionHeaderTabDesk;
  }
}
.about {
  display: flex;
  flex-direction: column;
  color: $color-primary-1;

  @include tablet {
    margin: 0 2.25rem;
    padding: 1.5rem 2.25rem 0 2.25rem;
  }

  &__quote {
    @include desktop {
      width: 75%;
    }
  }

  &__name {
    margin: 0;
    @include subHeaderMobile;

    @include tablet {
      @include subHeaderTabDesk;
    }
  }
}

.intro {
  @include tablet {
    @include bodyCopyTabDesk;
  }
  &__title {
    @include subHeaderMobile;
    @include tablet {
      @include subHeaderTabDesk;
      margin: 3rem 0 1rem 0;
    }
  }
  &__text {
    @include tablet {
      @include bodyCopyTabDesk;
      display: flex;
      gap: 2.25rem;
      margin-bottom: 2.25rem;
    }
  }
}

.gallery {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: flex-start;
  color: $color-primary-1;
  background: $color-secondary-3;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0 6.25rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-flow: row wrap;
      gap: 1.5rem;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &--img {
      margin-bottom: 1rem;

      @include tablet {
        max-width: 31%;
      }
    }
  }
}

footer {
  background: $color-primary-1;
}

.footer {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  color: $color-primary-3;

  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0 6.25rem;
  }
  &__main {
    display: flex;
    flex-direction: column;
    position: relative;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    &--connect {
      display: flex;
      flex-direction: column;

      .getInTouch {
        display: flex;
        flex-direction: column;

        @include tablet {
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }

        &__title {
          color: $color-primary-3;
        }
        &__social {
          margin-bottom: 1rem;
          display: flex;

          img {
            margin-right: 1rem;
          }
          @include tablet {
            margin: 1.5rem 0 1rem 0;
            padding: 0 2.25rem;
            img {
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 2.25rem;
            }
          }
        }
      }
    }
    &--logo {
      padding: 1rem 0;
      display: inline;

      @include tablet {
        padding: 2.25rem 0;
        margin-left: 0 2.25rem;
        z-index: 10;
        position: absolute;
        left: 83%;
      }
      @include desktop {
        left: 89%;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    @include tablet {
      flex-direction: row;
      gap: 2.25rem;
      width: 100%;
    }
    &__container {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      @include footerCopyMobile;

      @include tablet {
        @include footerCopyTabDesk;
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }

      &--name {
        @include subHeaderMobile;
        margin: 0;
      }
      &--email {
        color: $color-primary-3;
        @include footerCopyMobile;

        @include tablet {
          @include footerCopyTabDesk;
        }
      }
    }
  }

  .copyright {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin-bottom: 1rem;
  }
}
