@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
.hero-shows {
  display: flex;
  flex-direction: column;
  background-image: url(../Assets/Images/hero-bio.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  .hero-shows {
    padding: 1.5rem 2.25rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero-shows {
    height: 50vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.25rem;
    flex-direction: row;
  }
}
.hero-shows__title {
  color: #ffffff;
  z-index: 1;
}
.hero-shows__title--sub {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .hero-shows__title--sub {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hero-shows__title--main {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .hero-shows__title--main {
    font-family: "Avenir";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 1.5rem 0;
  }
}
.hero-shows__player {
  z-index: 1;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .hero-shows__player {
    width: 70%;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero-shows__player {
    width: 50%;
  }
}
.hero-shows::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.shows {
  display: flex;
  flex-direction: column;
}
.shows__title {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding: 0 2.25rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    flex-direction: row;
  }
  .shows-mobile {
    flex: 1;
  }
}

.title {
  color: #a4a4a4;
  font-family: "Avenir";
  font-weight: 600;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.property-date {
  color: #000000;
  font-family: "Avenir";
  font-weight: 600;
}

.property {
  color: #000000;
  font-family: "Avenir";
}

.shows-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows-mobile {
    padding: 0 6.25rem;
    margin-top: 2.25rem;
  }
}

.shows__container--mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 1rem;
  position: relative;
  border-bottom: 2px solid #e1e1e1;
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .shows__container--mobile {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
}

.shows__container--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid #e1e1e1;
}
@media (min-width: 768px) {
  .shows__container--item {
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
  }
  .shows__container--item:hover {
    background-color: #fafafa;
  }
  .shows__container--item:active {
    background-color: #e1e1e1;
  }
  .shows__container--item .shows__container--date {
    width: 30%;
  }
  .shows__container--item .shows__container--venue {
    width: 30%;
  }
  .shows__container--item .shows__container--location {
    width: 30%;
  }
  .shows__container--item .title {
    display: none;
  }
}

@media (min-width: 768px) {
  .shows-tabDesk {
    display: flex;
    flex-direction: column;
  }
  .shows-tabDesk__titles {
    display: flex;
    justify-content: space-between;
  }
  .shows-tabDesk__container {
    display: flex;
    flex-direction: column;
  }
  .shows-tabDesk__container-list {
    display: flex;
  }
}

.shows--tabDesk__container-list {
  display: flex;
  justify-content: space-between;
}

.shows-tabDesk__titles {
  display: none;
}
@media (min-width: 768px) {
  .shows-tabDesk__titles {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .shows-tabDesk__titles p.title {
    width: 30%;
  }
}/*# sourceMappingURL=shows.css.map */