@use "./partials/mixin" as *;
@use "./partials/variables" as *;

.hero-shows {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/hero-shows.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;

  @include tablet {
    padding: 1.5rem 2.25rem;
    margin-bottom: 2.25rem;
  }

  @include desktop {
    height: 50vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.25rem;
    flex-direction: row;
  }

  &__title {
    color: $color-primary-3;
    z-index: 1;

    &--sub {
      @include subHeaderMobile;

      @include tablet {
        @include subHeaderTabDesk;
      }
    }
    &--main {
      @include pageHeaderMobile;

      @include tablet {
        @include pageHeaderTabDesk;
        margin: 1.5rem 0;
      }
    }
  }
  &__player {
    z-index: 1;
    padding-top: 1rem;
    width: 100%;

    @include tablet {
      width: 70%;
      padding-top: 1.5rem;
    }
    @include desktop {
      width: 50%;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color-primary-1, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  &__title {
    padding: 0 1rem;
  }

  @include tablet {
    padding: 0 2.25rem;
    margin-bottom: 2.25rem;
  }

  @include desktop {
    flex-direction: row;
    &-mobile {
      flex: 1;
    }
  }
}

.title {
  color: $color-primary-2;
  font-family: $font-demi;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.property-date {
  color: $color-secondary-1;
  font-family: $font-demi;
}
.property {
  color: $color-secondary-1;
  font-family: $font-regular;
}
.shows-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;

  @include tablet {
    padding: 0 6.25rem;
    margin-top: 2.25rem;
  }
}

.shows__container--mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 1rem;
  position: relative;
  border-bottom: 2px solid $color-secondary-2;
  transition: all 0.2s;

  @include tablet {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
}
.shows__container--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid $color-secondary-2;

  @include tablet {
    &:hover {
      background-color: $color-secondary-3;
    }
    &:active {
      background-color: $color-secondary-2;
    }
    .shows__container--date {
      width: 30%;
    }
    .shows__container--venue {
      width: 30%;
    }
    .shows__container--location {
      width: 30%;
    }

    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    .title {
      display: none;
    }
  }
}

.shows-tabDesk {
  @include tablet {
    display: flex;
    flex-direction: column;
    &__titles {
      display: flex;
      justify-content: space-between;
    }

    &__container {
      display: flex;
      flex-direction: column;

      &-list {
        display: flex;
      }
    }
  }
}
.shows--tabDesk__container-list {
  display: flex;
  justify-content: space-between;
}

.shows-tabDesk__titles {
  display: none;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    p.title {
      width: 30%;
    }
  }
}
